@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
:root {
    --nav-height: 13vh;
    --theme-color: #fb924b;
    --accent-color: #646cff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #000; */
}

html {
    font-size: 62.5%;
    background: hsl(24, 96%, 94%);
    font-family: 'PT Sans', sans-serif;
    font-weight: 200;
    scroll-behavior: smooth;
}

#navbar {
    display: flex;
    width: 100vw;
    height: var(--nav-height);
    justify-content: space-evenly;
    align-items: center;
    background: var(--theme-color);
}

#navbar .navlinks {
    position: relative;
    display: flex;
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap;
}

#navbar .navlinks a {
    text-decoration: none;
    color: hsl(24, 96%, 94%);
}

#navbar .navlinks li {
    text-align: center;
    font-size: 1.8rem;
    padding: .8rem 2.5rem;
    border-radius: 5rem;
    margin: 1rem 0;
}

#navbar .navlinks li:hover {
    background: hsl(24, 96%, 70%);
}

#navbar .btn {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: hsl(24, 96%, 94%);
    padding: 1.2rem 2.5rem;
    border: 0;
    border-radius: 5rem;
    background: var(--accent-color);
    cursor: pointer;
}

#navbar .btn:hover {
    background: hsl(237, 100%, 72%);
}

#navbar .ham {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    padding: .5rem 1rem;
    color: #fff;
    visibility: hidden;
    display: none;
}

#navbar span {
    line-height: .75rem;
    font-size: 4rem;
}

div.pop_overlay {
    position: fixed;
    top: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
}


/* visibility: visible;
    display: block;
} */

div.pop_overlay .popup {
    width: 65vw;
    max-height: 75vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    border-radius: .8rem;
    background: hsl(24, 96%, 98%);
    box-shadow: .5rem .5rem 1.5rem .5rem rgba(0, 0, 0, 0.4);
    z-index: 1;
    overflow-y: hidden;
}

div.popup .left {
    height: 100%;
    padding: 2.5rem 3.5rem;
}

div.popup .left h2 {
    font-size: 2.6rem;
    text-align: center;
    font-weight: lighter;
}

div.popup .form {
    display: flex;
    flex-direction: column;
    margin: 2.5rem;
    font-size: 1.4rem;
    font-weight: bold;
}

div.popup .form input {
    margin: .25rem -.75rem 2rem -.75rem;
    padding: .75rem 1rem;
    border: .2rem solid #a7a7a7;
    border-radius: .5rem;
}

div.popup .form input:focus {
    border: .2rem solid var(--theme-color);
}

div.popup .form .btn {
    font-size: 1.5rem;
    font-weight: 600;
    color: hsl(24, 96%, 94%);
    margin-top: 2rem;
    padding: 1.2rem 2.5rem;
    border: 0;
    border-radius: 5rem;
    background: #1d6bc9;
    cursor: pointer;
}

div.popup .right {
    overflow: hidden;
}

div.popup .right .banner_img {
    transform: translateY(-4rem) scale(1.2);
    width: 100%;
    height: 100%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0;
    margin: 0;
    position: relative;
}

div.popup .right .banner_text {
    width: 25vw;
    position: absolute;
    top: 60%;
    transform: translateX(10%);
    color: #fff;
    background: rgba(167, 167, 167, 0.2);
}

div.popup .right .banner_text h2 {
    font-size: 4.5rem;
}

div.popup .right .banner_text p {
    font-size: 2.5rem;
    margin: .5rem 0;
    line-height: 3.4rem;
}

div.popup .right .cross {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    z-index: 100;
    cursor: pointer;
    background-color: rgba(168, 64, 64, 0.2);
}

div.popup .right .cross:active {
    /* pointer-events: none; */
    cursor: none;
}

div.popup .right span.close {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0 1rem;
    color: #555;
    display: flex;
    transform: rotate(-45deg);
}

div.popup .right span.close::before {
    content: "-";
    position: absolute;
    left: 0%;
}

div.popup .right span.close::after {
    content: "-";
}

div.popup .right span.close:hover {
    color: #000;
}


/* INFO SECTION */

section#org_info .info_row {
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
}

section#org_info .info_row a {
    text-decoration: none;
}

section#org_info .info_col {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-grow: inherit;
    justify-content: space-between;
}

section#org_info .info_col h3 {
    font-size: 2.5rem;
    color: var(--theme-color);
    margin-left: 1.5rem;
}

section#org_info .info_col p,
section#org_info .info_col h5 {
    font-size: 1.4rem;
    color: #000;
    font-weight: normal;
    margin-top: .25rem;
}

section#org_info .info_col:nth-child(2) {
    margin-left: 10rem;
}

section#org_info .brand_logo {
    width: 7rem;
    height: 7rem;
}

section#org_info img {
    width: 4.5rem;
    height: 4.5rem;
    margin: 1.5rem 0;
    margin-right: 1rem;
    display: block;
}


/* SLIDESHOW CONTAINER */

.slideshow-container {
    max-width: 90vw;
    position: relative;
    margin: 2rem auto;
    border-radius: .5rem;
    overflow: hidden;
}

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 1.5rem;
    padding: .8rem 1.2rem;
    position: absolute;
    bottom: 6rem;
    width: 100%;
    text-align: center;
}


/* The dots/bullets/indicators */

#dots {
    position: relative;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.25rem 1.75rem;
    border-radius: 1.5rem;
    width: fit-content;
    background: hsl(24, 96%, 94%);
}

.dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0 1rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color, transform 0.6s ease;
}

.active,
.dot:hover {
    background-color: var(--theme-color);
    transform: scale(1.5);
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* SERVICES SECTION */

#services .serv_row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

#services .serv_row a {
    text-decoration: none;
    color: #fff;
}

#services .serv_row .info_col {
    overflow: hidden;
    width: 27vw;
    height: 22.5vh;
    margin: 1.5rem 1rem;
    border-radius: .5rem;
    display: flex;
    padding-left: 1rem;
    transition: background-color 250ms ease-out;
    background: var(--theme-color);
}

#services .serv_row .info_col:hover {
    background: var(--accent-color);
}

#services .serv_row .info_col .serv_head {
    margin: 1rem 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    min-width: 50%;
    border-radius: .5rem;
    display: grid;
    place-items: center;
}

#services .serv_row .info_col h4 {
    font-size: 1.8rem;
    padding: .2rem;
    text-transform: uppercase;
    align-self: center;
    text-align: center;
}

#services .serv_row .info_col img {
    width: 50%;
    height: 100%;
    margin-left: 1rem;
    align-self: center;
}


/* PRICING SECTION */

#pricing {
    margin: 8rem 0rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#pricing .plan {
    width: 27vw;
    height: fit-content;
    padding: 2rem;
    border: 1px solid rgba(1, 1, 1, 0.1);
    border-radius: 5px;
}

#pricing .plan h2 {
    margin: 0 auto;
    padding: 2rem 0 2.5rem 0;
    font-size: 3rem;
    text-align: center;
}

#pricing .plan ul {
    list-style-type: none;
}

#pricing .plan ul li {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#pricing .plan ul li p {
    font-size: 1.4rem;
    color: var(--accent-color);
}

#pricing .plan ul li p span {
    font-size: 2rem;
    font-weight: bolder;
}

#pricing .plan ul hr {
    margin-top: 1rem;
    opacity: 0.3;
    margin: 0 3rem .1rem 3rem;
}


/* ABOUT SECTION */

#about {
    display: flex;
    flex-grow: inherit;
    margin: 6rem;
    margin-bottom: 3rem;
}

#about .about {
    max-width: 50vw;
    margin-left: 1rem;
}

#about .about h2 {
    font-size: 4rem;
    font-weight: bold;
}

#about .about p {
    font-size: 1.6rem;
    color: #808080;
    font-weight: lighter;
    line-height: 2.5rem;
    margin: 3rem 0 5rem 0;
}

#about .about .btn {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: hsl(24, 96%, 94%);
    padding: 1.2rem 2.5rem;
    border: 0;
    border-radius: 5rem;
    background: var(--accent-color);
    cursor: pointer;
}

#about .about .btn:hover {
    background: hsl(237, 100%, 72%);
}

#about .features .feature {
    display: flex;
    margin: 3.5rem;
    margin-top: 0;
    margin-right: 0;
}

#about .features .feature img {
    width: 7rem;
    height: 7rem;
    padding: 1rem;
    margin: 1.5rem;
    margin-top: 0;
    border-radius: 50%;
    background: var(--theme-color);
}

#about .features .feature h3 {
    font-size: 2rem;
}

#about .features .feature h3 p {
    font-size: 1.4rem;
    font-weight: normal;
    color: #808080;
    margin-top: .5rem;
}


/* PROMO SECTION */

#promo {
    display: flex;
    justify-content: space-evenly;
    background: var(--theme-color);
    padding: 6rem 1.5rem;
    margin-bottom: 3rem;
}

#promo .left:first-child {
    display: flex;
    width: 55%;
    border-radius: .5rem;
    background: #fff;
    overflow: hidden;
}

#promo .left .left_div {
    border: 1px solid rgba(1, 1, 1, 0.1);
    border-radius: .5rem;
    padding: 5rem 2rem;
    margin: 1.5rem;
    text-align: center;
    position: relative;
}

#promo .left .left_div h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

#promo .left .left_div p {
    font-size: 1.4rem;
    color: #808080;
    line-height: 2.4rem;
}

#promo .left .left_div a {
    color: var(--theme-color);
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2.5rem;
}

#promo .left .left_div a:hover {
    text-decoration: none;
}

#promo .left .left_div a .icon {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1.5rem;
}

#promo .left .left_div a p {
    text-transform: uppercase;
    color: var(--theme-color);
    line-height: 3.5rem;
    font-size: 1.4rem;
    font-weight: bolder;
}

#promo .left img:last-child {
    width: 50%;
    height: 100%;
}

#promo .right {
    width: 33%;
}

#promo .right h2 {
    font-size: 4.5rem;
    color: #fff;
    margin-bottom: 2rem;
}

#promo .right a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #fff;
    margin-bottom: 3rem;
    line-height: 2.5rem;
}

#promo .right br {
    line-height: 4rem;
}

#promo .right a:hover {
    text-decoration: underline;
}


/* PHOTO GALLERY SECTION */

#pics {
    position: relative;
    padding: 2rem 6.5rem;
    height: 60vh;
}

#pics h2 {
    font-size: 4rem;
}

#pics .gallery {
    display: grid;
    place-items: center;
}

#pics .gallery .imgs {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

#pics .gallery .imgs img {
    width: 30%;
    height: 30%;
    border-radius: .5rem;
}

#pics hr {
    margin: 5.5rem;
    opacity: 0.3;
}

#pics #dots {
    position: relative;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 21%;
    padding: 1.25rem 1.75rem;
    border-radius: 1.5rem;
    width: fit-content;
    background: hsl(24, 96%, 94%);
}

#pics #dots .dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0 1rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color, transform 0.6s ease;
}

#pics #dots .dot.active,
#pics #dots .dot:hover {
    background-color: var(--theme-color);
    transform: scale(1.5);
}

#pics .prev,
#pics .next {
    cursor: pointer;
    position: absolute;
    top: 94.5%;
    transform: translateY(-50%);
    width: 4rem;
    height: 4rem;
    margin-top: -22px;
    padding: 8px 12px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    transition: 300ms ease;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    user-select: none;
}

#pics .prev {
    left: 7.5%;
}

#pics .next {
    right: 7.5%;
}

#pics .prev:hover,
#pics .next:hover {
    background-color: var(--theme-color);
}


/* PROCEDURE SECTION */

.procedure {
    display: flex;
    justify-content: space-evenly;
    padding: 0 6rem;
    margin: 3rem 2rem;
    margin-top: 0;
}

.procedure h1 {
    display: grid;
    place-items: center;
    font-size: 3.5rem;
    width: 8rem;
    height: 7rem;
    color: #fff;
    background: var(--theme-color);
    border-radius: 50%;
}

.procedure .container {
    margin: 0 2.5rem;
}

.procedure .container h3 {
    font-size: 1.8rem;
}

.procedure .container p {
    font-size: 1.4rem;
    color: #808080;
}

.procedure #no1,
#no2,
#no3 {
    display: flex;
}


/* FEEDBACK SECTION */

.feedback {
    position: relative;
    margin: 7.5rem 1rem 4rem 1rem;
}

.feedback .head {
    display: flex;
    justify-content: space-between;
    margin: 2rem 6rem;
}

.feedback .head h2 {
    font-size: 4rem;
}

.feedback .head .btn {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: hsl(24, 96%, 94%);
    padding: 1.2rem 2.5rem;
    border: 0;
    border-radius: 5rem;
    background: var(--accent-color);
    cursor: pointer;
}

.feedback .head .btn:hover {
    background: hsl(237, 100%, 72%);
}

.feedback .peeps {
    display: flex;
    justify-content: space-evenly;
    margin: 7rem 0;
}

.feedback .peeps .card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    margin: 1rem auto 10rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.feedback .peeps .card:first-child {
    margin-left: 6rem;
}

.feedback .peeps .card:last-child {
    margin-right: 6rem;
}

.feedback .peeps .card img {
    width: 25%;
    height: 50%;
    border: 1rem solid hsl(24, 96%, 94%);
    border-radius: 50%;
    transform: translateY(-50%) scale(1.15);
}

.feedback .peeps .card p {
    font-size: 1.5rem;
    margin-top: -2rem;
    padding: 0 3rem;
    text-align: center;
    line-height: 2.5rem;
}

.feedback .peeps .card h2 {
    font-size: 1.8rem;
    margin-top: 2rem;
}

.feedback .peeps .card p:last-child {
    margin: 2rem 0;
}

.feedback hr {
    margin: 5.5rem;
    opacity: 0.3;
}

.feedback #dots {
    position: relative;
    bottom: 21%;
    left: 50%;
    transform: translate(-50%, -195%);
    padding: 1.25rem 1.75rem;
    border-radius: 1.5rem;
    width: fit-content;
    background: hsl(24, 96%, 94%);
}

.feedback #dots .dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0 1rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color, transform 0.6s ease;
}

.feedback #dots .dot.active,
.feedback #dots .dot:hover {
    background-color: var(--theme-color);
    transform: scale(1.5);
}

.feedback .prev,
.feedback .next {
    cursor: pointer;
    position: absolute;
    top: 81.75%;
    transform: translateY(50%);
    width: 4rem;
    height: 4rem;
    margin-top: -22px;
    padding: 8px 12px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    transition: 300ms ease;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    user-select: none;
}

.feedback .prev {
    left: 3.5%;
}

.feedback .next {
    right: 3.5%;
}

.feedback .prev:hover,
.feedback .next:hover {
    background-color: var(--theme-color);
}


/* FOOTER SECTION */

#footer {
    background-color: var(--theme-color);
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer .container {
    width: 85%;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    display: flex;
    background: #fff;
    overflow: hidden;
}

#footer .container .left {
    width: 40%;
    padding: 3rem;
    margin: 1.75rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}

#footer .container .left .info_col {
    display: flex;
    margin: 2rem 0;
    font-size: 1.5rem;
}

#footer .container h1 {
    font-size: 4rem;
    text-transform: capitalize;
    margin-bottom: 3rem;
}

#footer .container img {
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 1.5rem;
}

#footer .container .left hr {
    opacity: .3;
    margin-bottom: 2rem;
}

#footer .mapouter {
    position: relative;
    text-align: right;
    height: 350px;
    width: 55%;
}

#footer .gmap_canvas {
    overflow: hidden;
    background: none;
    height: 350px;
    width: 700px;
}

#footer .copyright {
    width: 85%;
    margin-top: 5rem;
    font-size: 1.25rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer .copyright p:last-child {
    font-size: 1rem;
    padding-bottom: 2rem;
}

#footer .copyright p a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

#footer .copyright p span {
    font-size: 3.5rem;
    font-weight: lighter;
    margin-left: 5rem;
    padding: .5rem 1.4rem;
    max-height: 1rem;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

#footer .copyright p span:hover {
    background: hsl(24, 96%, 70%);
}

@media (max-width:768px) {
    html {
        font-size: 57.5%;
        text-align: center;
    }
    div.popup .right {
        display: none;
    }
    #navbar {
        height: 15vh;
    }
    #navbar .ham {
        visibility: visible;
        display: block;
    }
    #navbar .navlinks {
        display: none;
    }
    .slideshow-container .prev {
        left: 0;
    }
    #services .serv_row .info_col {
        width: 90vw;
        height: 33vh;
        display: flex;
        flex-flow: wrap-reverse;
        padding: 0;
    }
    #services .serv_row .info_col img {
        margin: 0;
        width: 100%;
        height: 150%;
        /* transform: translateY(25%); */
        z-index: 0;
    }
    #services .serv_row .info_col .serv_head {
        margin-left: auto;
        margin-right: auto;
        height: 6vh;
        min-width: 85vw;
        justify-content: center;
        align-items: center;
    }
    section#org_info .info_row {
        flex-direction: column;
        align-items: center;
    }
    section#org_info .info_col .loc_icon {
        display: none;
    }
    #pricing .plan {
        min-width: 90vw;
        margin: 1.5rem 0;
    }
    #about {
        flex-wrap: wrap;
        margin-left: 4rem;
        margin-right: 4rem;
    }
    #about .about {
        /* align-self: center; */
        text-align: center;
        min-width: 80vw;
        margin: 0 auto;
        margin-bottom: 6rem;
    }
    #about .features .feature {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #promo {
        flex-direction: column;
        position: relative;
        padding-left: 3rem;
    }
    #promo .left {
        min-width: 90vw;
        margin-bottom: 2rem;
    }
    #promo .left .left_div {
        align-items: center;
        text-align: center;
    }
    #promo .left .left_div a .icon {
        display: none;
    }
    #promo .left .left_div a p {
        width: 100%;
    }
    #promo .left img:last-child {
        min-height: 800%;
    }
    #promo .right {
        width: 100%;
        text-align: center;
    }
    #pics {
        height: max-content;
    }
    #pics #dots {
        transform: translate(-50%, -187.5%);
    }
    #pics .prev,
    #pics .next {
        top: 70%;
    }
    .procedure {
        flex-wrap: wrap;
    }
    .procedure #no1,
    #no2,
    #no3 {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
    .procedure h1 {
        width: 6.5rem;
        height: 6.5rem;
        margin: 1.5rem 0;
    }
    .procedure h3 {
        margin-bottom: 1rem;
    }
    .feedback .head h2 {
        width: 100%;
        text-align: center;
    }
    .feedback .head .btn {
        display: none;
    }
    .feedback .peeps {
        flex-wrap: wrap;
        flex-grow: inherit;
    }
    .feedback .peeps .card:first-child {
        margin-left: 4rem;
    }
    .feedback .peeps .card:last-child {
        margin-right: auto;
        margin-bottom: 0;
    }
    .feedback .peeps .card img {
        transform: translateY(-50%) scale(0.9);
    }
    .feedback .peeps .card p {
        margin-top: -4rem;
    }
    .feedback .prev,
    .feedback .next {
        position: absolute;
        top: 92.5%;
    }
    #footer .container {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    #footer .container .left {
        width: 100%;
    }
    #footer .mapouter {
        display: none;
    }
}